.cards {
  border-radius: 10px;
}

.cards__list {
  display: grid;
  list-style-type: none;
  grid-template-columns: repeat(
    auto-fit,
    282px
  ); /* what does auto-fit do here? */
  grid-gap: 17px;
  justify-content: center;
  margin-top: -22px;
  padding: 0;
}