.header {
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  max-width: 880px;
  border-bottom: 1px solid rgb(84, 84, 84, 1);
}

.header__logo {
  padding-bottom: 41px;
  height: 33px;
  width: 173px;
}

@media screen and (max-width: 800px) {
  .header__logo {
    margin-left: 12%;
  }
}

@media screen and (max-width: 620px) {
  .header {
    margin-top: 28px;
    margin-bottom: 42px;
  }
  .header__logo {
    height: 24px;
    width: 126px;
    margin-left: 27px;
    padding-bottom: 32px;
  }
}
