.card {
  position: relative;
}

.card__image {
    width: 282px;
    height: 282px;
    border-radius: 10px 10px 0 0;
    display: flex;
    cursor: pointer;
  }
  
  .card__description {
    max-width: 282px;
    display: flex;
    background-color: white;
    color: black;
    padding-left: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 0 0 10px 10px;
    align-items: center;
  }
  
  .card__description-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    font-size: 24px;
    font-weight: 900;
    line-height: 29.05px;
  }

  .card__delete-button {
    background: url(../images/Trash.svg) center no-repeat;
    border: none;
    height: 19.3px;
    width: 28px;
    position: absolute;
    top: 18px;
    right: 15px;

    
  }

  .card__delete-button:hover {
    cursor: pointer;
    opacity: .5;
  }
  
  .card__like-button {
    background: url(../images/like-button-inactive.svg) center no-repeat; 
    height: 21px;
    width: 21px;
    border: none;
    margin-left: auto;
    margin-right: 20px;
    padding-right: 13px;
  }

  
  .card__like-button_active {
    background: url(../images/like-button-active.svg) center no-repeat;
  }
  
  .card__like-button:hover {
    opacity: 0.5;
    cursor: pointer;
  }
  
