.footer {
  max-width: 880px;  
  padding-bottom: 60px;
  padding-top: 67px;
  margin-left: auto;
  margin-right: auto;
  
}
.footer__copyright {
  font-weight: 400;
  font-size: 18px;
  color: #545454;
  margin: 0;
  line-height: 21.78px;
  max-width: 209px;
}
/*
0 - 600 / mobile
601 - 899 / tablet
900 - endless / desktop
*/
@media screen and (max-width: 899px) {
    .footer {
    max-width: 581px;
}

}

@media screen and (max-width: 601px) {
  .footer {
    max-width: 282px;
    padding-top: 48px;
    padding-bottom: 36px;
  } 

  .footer__copyright {
    font-size: 14px;
    line-height: 16.94px;
  }
}
